AimIndicator {
	pointer-events: none;
	transition: opacity 0.1s ease;

	&.hidden {
		opacity: 0;
	}

	&.visible {
		opacity: 1;
	}

	.aim-line {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		transform-origin: left center;
	}

	.aim-head {
		width: 100%;
		height: 1000px;
		background-color: #80ff00;
	}

	.aim-tail {
		width: 100%;
		height: 1000px;
		background-color: #e12b28;
	}

	.aim-body {
		width: 100%;
		flex: 1 1 auto;
		background-color: #d9d9d9;
	}
}
