AimIndicator {
	pointer-events: none;
	transition: opacity 0.1s ease;

	&.hidden {
		opacity: 0;
	}

	&.visible {
		opacity: 1;
	}

	.aim-line {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		transform-origin: left center;
	}
}
