@import "/UI/Styles/punt.scss";

.warning-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;

    opacity: 0;
    transition: none;

    &.visible {
        opacity: 1;
        transition: none;
    }

    &.hidden {
        opacity: 0;
        transition: opacity 1s ease-out;
    }

    .warning-content {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 32px 64px;
        border-radius: 100%;
        color: $color-text;
        font-family: $font-body;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        min-width: 400px;
        max-width: 800px;
    }
}
