Hud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	pointer-events: none;

	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	.cursor
	{
		position: absolute;
		pointer-events: none;
		opacity: 1.0;
		z-index: 9999;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}