@import "/UI/Styles/punt.scss";

.browse-custom-games-page {

    page-header {
        margin-top: 24px;
        margin-left: $menu-paddingpx;
        margin-bottom: 32px;
    }


    .game-browser {
        margin-left: $menu-paddingpx;
        margin-right: $menu-paddingpx;
        display: flex;
        flex-direction: column;
        height: calc(100% - 200px); // Leave space for header and footer
        pointer-events: all;
    }

    .browser-header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 0;
        background-color: $panel-background-dark;
        border-radius: 24px;
        font-family: $font-body;
        font-size: 28px;
        font-weight: bold;
        color: $color-text;
        text-transform: uppercase;
        margin-bottom: 8px;

        > div:first-child {
            padding-left: 24px;
        }

        > div:last-child {
            padding-right: 24px;
        }
    }

    .browser-list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        border-radius: 8px;
        flex-grow: 1;
        gap: 8px;
    }

    .browser-entry {
        flex: 0 0 auto;
        display: flex;
        background-color: $panel-background-light;
        flex-direction: row;
        align-items: center;
        padding: 4px 0;
        font-family: $font-body;
        font-size: 24px;
        color: $color-text;
        transition: background-color 0.1s ease, color 0.1s ease;
        cursor: pointer;
        border-radius: 100%;
        text-transform: uppercase;
        font-weight: bold;


        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: $color-text-black;
        }

        > div:first-child {
            padding-left: 24px;
        }

        > div:last-child {
            padding-right: 24px;
        }
    }
    // Column widths
    .column-name {
        flex: 1 1 0;
    }

    .column-team-size {
        flex: 1 1 0;
        text-align: center;
    }

    .column-map {
        flex: 1 1 0;
        overflow: hidden;
    }

    .column-ping {
        flex: 1 1 0;
        text-align: center;
        max-width: 150px;
    }

    .column-players {
        flex: 1 1 0;
        text-align: center;
        max-width: 150px;
    }
}
