@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu create-custom-games-page">
    <page-header>Create Game</page-header>

    <div class="content-panels">
        <div class="buttons-panel">
            <div class="button">
                <i>settings</i>
                <span>Settings</span>
            </div>
            <div class="button">
                <i>smart_toy</i>
                <span>Add Bot</span>
            </div>
        </div>
        <div class="main-content">
            <div class="game-panel panel">
                game
            </div>
            <div class="right-column">
                <div class="team-settings-panel panel">
                    <div class="teams-panel">
                        <div class="team-panel red">
                            <div class="panel-header">Red Team</div>
                            <div class="team-slots">
                                <div class="player-slot occupied">
                                    <img src="avatar:@Game.SteamId" class="profile-picture" />
                                    <span class="player-name">@Connection.Local.DisplayName</span>
                                </div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                            </div>
                        </div>
                        <div class="vs-panel">
                            VS
                        </div>
                        <div class="team-panel blue">
                            <div class="panel-header">Blue Team</div>
                            <div class="team-slots">
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                                <div class="player-slot empty">Empty</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spectators-panel panel">
                    <div class="panel-header">Spectators</div>
                    <div class="spectator-slots">
                        <div class="player-slot empty">Empty</div>
                        <div class="player-slot empty">Empty</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</root>

@code
{

    protected override int BuildHash()
    {
        return System.HashCode.Combine(base.BuildHash());
    }
}
