@import "/UI/Styles/punt.scss";

.create-custom-games-page {

    page-header {
        margin-top: 24px;
        margin-left: $menu-paddingpx;
        margin-bottom: 32px;
    }

    .content-panels {
        flex-grow: 1;
        flex-direction: column;
        gap: 16px;
        margin-left: $menu-paddingpx;
        margin-right: $menu-paddingpx;
        font-family: $font-body;
        color: $color-text-black;
        font-weight: bold;

        .panel {
            background-color: rgba(black, 0.8);
            border-radius: 24px;
        }

        .buttons-panel {
            flex-direction: row;
            justify-content: flex-end;
            gap: 16px;

            .button {
                width: 80px;
                height: 80px;
                background-color: white;
                border-radius: 16px;
                cursor: pointer;
                transition: transform 0.1s ease;
                pointer-events: all;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 24px;
                }

                span {
                    font-size: 16px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .main-content {
            flex-grow: 1;
            flex-direction: row;
            gap: 16px;

            .game-panel {
                flex-basis: 40%;
            }

            .right-column {
                flex-basis: 60%;
                flex-direction: column;
                gap: 16px;

                .panel-header {
                    font-family: $font-header;
                    font-size: 32px;
                    padding: 8px 24px;
                    color: $color-text;
                }

                .player-slot {
                    height: 60px;
                    border-radius: 100%;

                    &.empty {
                        background-color: rgba(black, 0.5);
                        color: $color-text;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 22px;
                    }
                }

                .team-settings-panel {
                    flex-grow: 1;

                    .teams-panel {
                        flex-grow: 1;
                        flex-direction: row;
                        gap: 16px;

                        .team-panel {
                            flex-grow: 1;
                            flex-direction: column;

                            &.red .panel-header {
                                color: $color-team-red;
                            }

                            &.blue .panel-header {
                                color: $color-team-blue;
                            }

                            .team-slots {
                                flex-grow: 1;
                                flex-direction: column;
                                justify-content: space-evenly;
                                padding: 16px;
                            }
                        }

                        .vs-panel {
                            justify-content: center;
                            align-items: center;
                            color: $color-text;
                            font-size: 64px;
                            font-family: $font-header;
                        }
                    }
                }

                .spectators-panel {
                    flex-direction: column;

                    .spectator-slots {
                        flex-direction: row;
                        gap: 8px;
                        padding: 16px;
                        padding-right: 200px;

                        .player-slot {
                            flex-grow: 0.5;
                            flex-basis: 0;
                        }
                    }
                }
            }
        }
    }
}