@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <div class="menu-button" onclick=@OnCreateGameClick>Create Game</div>

        <a class="menu-button" href="/BrowseGames">Browse</a>

    </div>
</root>

@code
{
    void OnCreateGameClick()
    {
        // Check if in a party and not the leader
        if (PartyRoom.Current == null)
        {
            Log.Info("not in a party");
            WarningPanel.Instance?.Show("Only the party leader can create a custom game");
            return;
        }

        // If party leader or not in party, navigate to create game
        // TODO: Navigate to /CreateGame when the page is implemented
        Log.Info("Navigating to Create Game...");
    }
}
