@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <div class="menu-button" onclick=@OnCreateGameClick>Create Game</div>

        <a class="menu-button" href="/browsecustomgame">Browse</a>

    </div>
</root>

@code
{
    void OnCreateGameClick()
    {
        // Check if in a party and not the leader
        if (PartyRoom.Current != null && PartyRoom.Current.Owner.Id != Game.SteamId)
        {
            WarningPanel.Instance?.Show("Only the party leader can create a custom game");
            Sound.Play("sounds/kenney/ui/ui.navigate.deny.sound_c");
            return;
        }

        // Navigate to create custom game page
        MainMenuRoot.Instance?.Navigate("/createcustomgame");
    }
}
