@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <a class="menu-button" href="/CreateGame">Create Game</a>

        <a class="menu-button" href="/BrowseGames">Browse</a>

    </div>
</root>

@code
{

}
