@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu landing-page">
    <main-menu-header>Punt!</main-menu-header>

    <div class="menu-options">
        <a class="menu-button" href="/play">Play</a>
        <a class="menu-button" href="/leaderboard">Leaderboard</a>
        <a class="menu-button" href="/collection">Collection</a>
        <a class="menu-button" href="/shop">Shop</a>
        
    </div>
</root>

@code
{
    void Exit()
    {
        Game.Close();
    }

    public void OnNavigationOpen()
    {
        // Clear any page-specific footer buttons on the landing page
        MainMenuRoot.Instance?.ClearPageFooterButtons();

        //check here were we should be

        //if we are in a custom lobby, do


        // if (Networking.IsActive & QueueManager.Instance.SelectedQueueType == QueueType.Custom)
        // {

        //     this.Navigate("/lobby");

        // }



    }
}
