@namespace Punt.UI
@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;

@inherits NavigationHost



<root>

    <div class="navigator-canvas" slot="navigator-canvas" />

    <!-- Persistent UI elements that appear on all menu pages -->
    <div class="version-number">v0.1.0</div>

    <PartyDisplay />

    <div class="chat-button" onclick=@(() => ToggleChat())>
        <span class="key-indicator">enter</span>
        Chat
    </div>

    @if (CurrentUrl == "/")
    {
        <div class="back-button" onclick=@(() => ExitGame())>
            <span class="key-indicator">escape</span>
            Exit
        </div>
    }
    else
    {
        <div class="back-button" onclick=@(() => NavigateBack())>
            <span class="key-indicator">escape</span>
            Back
        </div>
    }

@*     <MatchmakingStatus /> *@

</root>

@code
{
    public static MainMenuRoot Instance { get; set; }
    private bool isChatOpen = false;

    public MainMenuRoot()
    {
        Instance = this;
        DefaultUrl = "/";
        AddDestination("/", typeof(LandingPage));
        AddDestination("/play", typeof(Play));
        AddDestination("/customgames", typeof(CustomGames));
        AddDestination("/practise", typeof(Practise));
        AddDestination("/tutorial", typeof(Tutorial));
        AddDestination("/collection", typeof(Collection));
        AddDestination("/shop", typeof(Shop));
        AddDestination("/leaderboard", typeof(Leaderboard));

        // AddDestination("/gamebrowser", typeof(GameBrowser));
        // AddDestination("/createcustomgame", typeof(CreateCustomGame));
        // AddDestination("/lobby", typeof(Lobby));
    }

    void NavigateBack()
    {
        GoBack();
    }

    void ToggleChat()
    {
        isChatOpen = !isChatOpen;
        // TODO: Implement chat panel visibility toggle
        Log.Info($"Chat toggled: {isChatOpen}");
    }

    void ExitGame()
    {
        Game.Close();
    }
}

<style>
    @@import "/UI/Styles/punt.scss";
</style>

