@import "/UI/Styles/punt.scss";

.play-page {
    page-header {
        margin-top: 24px;
        margin-left: $menu-paddingpx;
        margin-bottom: 32px;
    }

    .play-cards {
        display: flex;
        flex-direction: row;
        gap: 64px;
        justify-content: center;
        align-items: center;
        pointer-events: all;
    }

    .play-card {
        width: 300px;
        height: 700px;
        flex-shrink: 0;
        border-radius: 32px;
        cursor: pointer;
        pointer-events: all;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 0px 20px rgba(black, 0.5));
        transition: all 0.1s ease;

        &:hover {
            transform: scale(1.1); // Expand the card
            filter: drop-shadow(0px 0px 20px rgba(white, 0.8)); // White glow
            border: 3px solid white;
            z-index: 10; // Bring to front

            .card-title {
                background: #ffffff00; // Transparent background (white with 0 alpha)
            }

            .card-title-text,
            .card-text,
            .destination-text {
                color: white; // All text becomes white
            }
        }



        .card-title {
            background: #fff;
            height: 200px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: background 0.1s ease;
        }

        .card-title-text {
            font-family: $font-header;
            font-size: 36px;
            color: $color-text-black;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            transition: color 0.1s ease;
        }

        .card-text {
            font-family: $font-body;
            font-size: 16px;
            color: $color-text-black;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            transition: color 0.1s ease;
        }

        .destination-text {
            font-family: $font-header;
            font-size: 24px;
            color: $color-text-black;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: auto; // Pushes to bottom
            align-self: flex-end; // Aligns to right
            transition: color 0.3s ease;
        }
    }
}
