@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <div class="menu-button">
            <button class="button" onclick=@OnPlayGame>Competitive</button>
        </div>
        <a class="menu-button" href="/customgames">Custom Games</a>
        <a class="menu-button" href="/practise">Practise</a>
    </div>
</root>

@code
{


    void OnPlayGame()
    {
        // Check if in a party and not the leader
        if (PartyRoom.Current != null && PartyRoom.Current.Owner.Id != Game.SteamId)
        {
            WarningPanel.Instance?.Show("Only the party leader can queue for competitive games");
            Sound.Play("sounds/kenney/ui/ui.navigate.deny.sound_c");
            return;
        }
        else
        {
            //Create lobby.

        }



    void PlayGame()
    {

        var sceneOptions = new SceneLoadOptions();
        sceneOptions.ShowLoadingScreen = false;
        sceneOptions.SetScene("scenes/game/pitch.scene");

        Game.ChangeScene(sceneOptions);
    }

    void StartLobby()
    {

        Networking.CreateLobby(new LobbyConfig()
        {
            MaxPlayers = 8,
            Privacy = LobbyPrivacy.Private,
            Name = "My Lobby Name"
        });

    }

    void DestroyLobby()
    {
        Networking.Disconnect();
    }
}
