@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <div class="menu-button">
            <button class="button" onclick=@(() => PlayGame())>1v1</button>
        </div>
        <div class="menu-button">
            <button class="button" onclick=@(() => PlayGame())>2v2</button>
        </div>
        <div class="menu-button">
            <button class="button" onclick=@(() => PlayGame())>Custom Games</button>
        </div>
        <div class="menu-button">
            <button class="button" onclick=@(() => PlayGame())>Practice</button>
        </div>
    </div>
</root>

@code
{
    void PlayGame()
    {
        Scene.LoadFromFile("scenes/game/pitch.scene");
    }
}
