@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu play-page">
    <page-header>Play</page-header>

    <div class="play-cards">
        <div class="play-card" onclick=@OnPlayGame style="background-image: url('ui/playcards/playcard.png');">
            <div class="card-title">
                <div class="card-title-text">Competitive</div>
                <div class="card-text">Compete against other players of your skill level to climb the leaderboard</div>
            </div>
        </div>

        <div class="play-card" onclick=@OnPlayGame style="background-image: url('ui/playcards/playcard.png');">
            <div class="card-title">
                <div class="card-title-text">Custom Games</div>
                <div class="card-text">Find and create custom games with friends, or new rivals </div>
            </div>
        </div>

        <div class="play-card" onclick=@OnPlayGame style="background-image: url('ui/playcards/playcard.png');">
            <div class="card-title">
                <div class="card-title-text">Practise</div>
                <div class="card-text">Train your skills at your own pace with no pressure</div>
            </div>
        </div>

        <div class="play-card" onclick=@OnPlayGame style="background-image: url('ui/playcards/playcard.png');">
            <div class="card-title">
                <div class="card-title-text">Tutorial</div>
                <div class="card-text">Learn the basics and get ready to play</div>
            </div>
        </div>
    </div>
</root>

@code
{


    void OnPlayGame()
    {
        // Check if in a party and not the leader
        if (PartyRoom.Current != null && PartyRoom.Current.Owner.Id != Game.SteamId)
        {
            WarningPanel.Instance?.Show("Only the party leader can queue for competitive games");
            Sound.Play("sounds/kenney/ui/ui.navigate.deny.sound_c");
            return;
        }
        else
        {
            //Create lobby.

        }



    void PlayGame()
    {

        var sceneOptions = new SceneLoadOptions();
        sceneOptions.ShowLoadingScreen = false;
        sceneOptions.SetScene("scenes/game/pitch.scene");

        Game.ChangeScene(sceneOptions);
    }

    void StartLobby()
    {

        Networking.CreateLobby(new LobbyConfig()
        {
            MaxPlayers = 8,
            Privacy = LobbyPrivacy.Private,
            Name = "My Lobby Name"
        });

    }

    void DestroyLobby()
    {
        Networking.Disconnect();
    }
}
