@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <div class="menu-button">
            <button class="button" onclick=@PlayGame>Competitive</button>
        </div>
        <a class="menu-button" href="/customgames">Custom Games</a>
        <a class="menu-button" href="/practise">Practise</a>
    </div>
</root>

@code
{
    void PlayGame()
    {

        var sceneOptions = new SceneLoadOptions();
        sceneOptions.ShowLoadingScreen = false;
        sceneOptions.SetScene("scenes/game/pitch.scene");

        Game.ChangeScene(sceneOptions);
    }

    void StartLobby()
    {

        Networking.CreateLobby(new LobbyConfig()
        {
            MaxPlayers = 8,
            Privacy = LobbyPrivacy.Private,
            Name = "My Lobby Name"
        });

    }

    void DestroyLobby()
    {
        Networking.Disconnect();
    }
}
