@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">

        <a class="menu-button" href="/tutorial">Tutorial</a>

        <div class="menu-button">
            <button class="button" onclick=@PlayGame>Bot Game</button>
        </div>

    </div>
</root>

@code
{
    void PlayGame()
    {
        Scene.LoadFromFile("scenes/game/pitch.scene");
    }
}
