@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Punt.UI

<root class="main-menu">
    <menu-header>Tutorial</menu-header>

    <div class="menu-options">
        <div class="menu-button wip">
            Tutorial Here - maybe part of the mainmenu scene?
        </div>
    </div>
</root>

@code
{
    public void OnNavigationOpen()
    {
        // Logic when navigating to this page
    }
}
