{
  "Version": 2,
  "Cursors": {
    "pointer": {
      "Image": "ui/cursors/hand_point.png",
      "Hotspot": "10,10"
    },
    "hovering": {
      "Image": "ui/cursors/hand_open.png",
      "Hotspot": "10,10"
    },
    "grabbing": {
      "Image": "ui/cursors/hand_closed.png",
      "Hotspot": "10,10"
    }
  },
  "__guid": "edc132c1-8637-409b-a1fe-99c1721a606e",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}