// Fonts
$font-header: 'Lemon Days';
$font-body: 'Poppins';

// Colors
$color-text: #fff;
$color-text-disabled: #888;
$color-primary: #2ecc71;
$color-danger: #e74c3c;

// Spacing
$menu-padding: 64px;
$button-gap: 8px;
